@font-face {
    font-family: Cascadia Code
    src: url("https://cdn.jsdelivr.net/npm/@fontsource/cascadia-code@4.2.1/files/cascadia-code-latin-ext-400-normal.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/npm/@fontsource/cascadia-code@4.2.1/files/cascadia-code-latin-ext-400-normal.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    unicode-range:  U+2014, U+2015, U+2E3B, U+2E3A
    font-family: DASH;
    src: local('STHeiti'),
        local('PingFang SC'),
        local('WenQuanYi Micro Hei'),
        local("Microsoft Yahei");
}

body { 
    font-family: DASH, 
        "Josefin-sans", 
        -apple-system, BlinkMacSystemFont, 
        "Helvetica Neue", 
        "Helvetica",
        "Tahoma", 
        "Arial", 
        "STHeiti", 
        "PingFang SC", 
        "WenQuanYi Micro Hei", 
        "Microsoft Yahei", 
        "sans-serif";
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 36px;
  margin-bottom: 24px;
  font-weight: 600;
  line-height: 1.25;
  cursor: pointer;
  transition: ease-in-out .2s;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    color: #666
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 32px;
    // margin-top: 20px;
    // padding-top: 30px;
}

h3 {
    font-size: 22px;
    // padding: 1rem 0;
    // margin : 0;
}

code {
    &,  * {
        font-family: "Cascadia Code", "Consulas", "Courier New", "monospace"
    }
}
