@font-face {
    font-family: Jetbrains Mono
    src: local('Jetbrains Mono')
         url("https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.3/fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.3/fonts/webfonts/JetBrainsMono-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body { 
    font-family: "Josefin-sans", -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", Helvetica, Tahoma, Arial, STHeiti, "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 36px;
	margin-bottom: 24px;
	font-weight: 600;
	line-height: 1.25;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 32px;
    // margin-top: 20px;
    // padding-top: 30px;
}

h3 {
    font-size: 22px;
    // padding: 1rem 0;
    // margin : 0;
}

code {
    &,  * {
        font-family: "Jetbrains Mono", "Consulas", "Courier New", "monospace"!important
    }
}
