.al_page_background {
    background-color: $theme_color;
}

.al_page_container {
    // min-height: 100vh;
    padding-top: 80px;
    box-sizing: border-box;
}

.al_main_page_container {
    font-size: 15px;
    z-index: 20;
    position: relative;

    img, video {
        max-width: 100%;
        height: auto;
        border: none;
        display: block;
        margin: 3rem auto 1rem;
        cursor: zoom-in;
    }

    a {
        color: $theme_color;
    }

    q, blockquote {
        quotes: none;

        &::before, &::after {
            content: "";
            content: none
        }
    }

    p, figure {
        // margin-bottom: 1.57143em;
        hyphens: auto;
        line-height: 27px;
    }

    figure {
        margin-left: 0;
        margin-right: 0;
        span {
            word-break: break-all;
        }
    }

    hr {
        height: 1px;
        border: 0;
        background-color: #dedede;
        margin: 1rem auto 1.57143em auto
    }

    code {
        font-size: 14px;
        line-height: normal;
        color: #c7254e;
        background-color: #f9f2f4;
        border-radius: 2px;
        white-space: nowrap
    }

    code:not([class]) {
        padding: 2px 7px;
        position: relative;
        top: -0.5px;
    }

}

.al_page_title {
    margin: 0;
    z-index: 100;
}

.al_page_info {
    color: #888;
    margin: 20px 0 10px;
    z-index: 100;
}

.al_page_tags {
    margin-bottom: 20px;
    z-index: 100;
}

.al-tag-link {
    margin-right: .4rem;
    font-size: 13px;
    &::before {
        content: "#";
    }
}

.al_page_content_info {
    margin-right: 15px;
    font-size: 13px;
    color: #888;

    &:not(:last-of-type) {
        &::after {
            content: "/";
            right: -5px;
            position: relative;
        }
    }
}

.al_disqus {
    margin-top: 100px;
}

.al_post_nav_desc {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}
