.al_index_container {
    margin-top: calc(100vh - 240px);
    position: relative;
    z-index: 100;
    min-height: 100vh;
}

.al_section_container {
    height: 55px;
    font-size: 15px;
    .section_header {
        color: #6e6e6e;
        font-size: 18px;
        font-weight: bold;
        line-height: 18px;
    }
}

.al_index_page_seperator {
    &::before {
        content: "";
        height: 1px;
        width: 50px;
        position: absolute;
        top: -40px;
        left: 50%;
        margin-left: -25px;
        background: rgba(51, 51, 51, 0.2);
    }
}

.al_index_pageList_item {
    position: relative;
    list-style-type: none;
    padding: 80px 20px;
    margin-top: 40px
}

.al_index_post_title_cnt {
    flex-direction: column;
}

.al_index_post_title_letter {
    left: -34px;
    line-height: 190px;
    top: 30px;
    z-index: 0;
}

.al_index_post_title {
    text-transform: uppercase;
    font-size: 48px;
    margin: 0;
    padding: 10px 0;
    z-index: 100;

    a {
        display: block;
        color: $list_title_color;
        word-wrap: break-word;
        z-index: 101;
    }

    a:hover {
        color: $theme_color;
    }
}

.al_index_post_button {
    width: calc(50% - 15px);
    max-width: 160px;
    min-width: 110px;
    margin-right: 15px;
}

.al_index_post_extra {
    margin: 8px 0 10px 0;
    color: #888;
    font-size: 13px;
    z-index: 101;
}

.al_index_post_extra_item {
    margin-right: 15px;
    &:not(:last-child)::after {
        content: "/";
        right: -7px;
        position: relative;
    }
}

.al_index_post_excerpt_cnt {
    margin-bottom: 30px;
}

.al_index_post_excerpt {
    color: $list_desc_color;
    line-height: 30px;
}

.al_index_footer {
    color: #aaa;
    font-size: 14px;
    height: 235px;
    flex-direction: column;
    position: relative;
    background-color: $fake_background_color;
    z-index: 11;

    a {
        color: $theme_color;
    }
}

.al-tag-link {
    margin-right: .4rem;
    color: #888;
    z-index: 101;
    &::before {
        content: "#";
    }
}

.al_index_footer_item {
    margin-bottom: 10px;
}

.al_index_footer_title {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 600;
}

.al_post_list {
    padding: 0; 
    max-width 750px;
    margin: auto   
}

@media screen and (max-width: 768px) {
    .al_index_post_title_letter, .al_post_title_letter, .al_archive_title_letter {
        display: none;
    }

    .al_index_container {
        margin-top: 100vh;
    }

    .al_section_container {
        height: 25px;
    }

    .al_index_pageList_item {
        padding: 10px 0 30px;
    }

    .al_index_page_seperator {
        &::before {
            top: -20px;
        }
    }

    .al_index_post_extra {
        flex-direction: column;
        div {
            margin-bottom: .1rem
        }
    }
}
